on:
    push:
        branches:
            - main
        paths:
            - 'Infrastructure/**'

jobs:
    deploy-infrastructure:
        uses: Nilaj0914/Cloudpipe-CICD/.github/workflows/Terraform-infra-deploy.yml@main
        with: 
            working-directory: ./Infrastructure
        permissions:
            contents: read
            id-token: write
        secrets:
            AWS_OIDC_ROLE_ARN: ${{ secrets.AWS_OIDC_ROLE_ARN }}